@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update New Pricing</h4>
                        <p class="card-subtitle mb-4">You can update Pricings  here.</p>
                        <form method="post">
                            <input type="hidden" asp-for="PricingID" />
                            <div class="form-group">
                                <label for="exampleInputName">Pricing Name</label>
                                <input type="text" asp-for="Name" id="exampleInputName" />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

