@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Create New Brand</h4>
                        <p class="card-subtitle mb-4">You can add any additional Brands from here.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Brand Name</label>
                                <input type="text" asp-for="Name" id="exampleInputName" placeholder="Add Brand" />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>
</div>

