@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update New Testimonial</h4>
                        <p class="card-subtitle mb-4">You can update Testimonials  here.</p>
                        <form method="post">
                            <input type="hidden" asp-for="TestimonialID" />
                            <div class="form-group">
                                <label for="exampleInputName">Testimonial Name</label>
                                <input type="text" asp-for="Name" id="exampleInputName" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Testimonial Comment</label>
                                <input type="text" asp-for="Comment" id="exampleInputName" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Testimonial ImageUrl</label>
                                <input type="text" asp-for="ImageUrl" id="exampleInputName" />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

