<!DOCTYPE html>
<html lang="en">
<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbarPartial.cshtml")


        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")

        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            @RenderBody()
            <!-- End Page-content -->
            @await Html.PartialAsync("/Views/AdminLayout/AdminFooterPartial.cshtml")

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Overlay-->
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptPartial.cshtml")

</body>

</html>
@RenderBody()
<script src="~/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.flash.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.print.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.select.min.js"></script>
<script src="~/Admin/plugins/datatables/pdfmake.min.js"></script>
<script src="~/Admin/plugins/datatables/vfs_fonts.js"></script>
<!-- third party js ends -->
<!-- Datatables init -->
<script src="~/Admin/horizontal/assets/pages/datatables-demo.js"></script>
<script src="~/Admin/horizontal/assets/js/theme.js"></script>
<script src="~/Admin/vertical/assets/js/theme.js"></script>